In [51]:
import numpy as np
import pandas as pd

In [71]:
pred1 = pd.read_csv("submission_forest_simple_feature_engineering.csv")
pred2 = pd.read_csv("submission_test_processed_ensemble3_bs64_ne10.csv")
pred3 = pd.read_csv("submission_test_processed_ensemble2_bs64_ne10.csv")

In [72]:
preds = pd.DataFrame(0, index=np.arange(len(pred1)), columns=pred1.columns)

In [73]:
preds['id'] = pred1['id']
preds['Predicted'] = (pred1['Predicted'] + pred2['Predicted'] + 2 * pred3['Predicted']) / 4

In [74]:
preds.to_csv("submission_test_ensemble1output3.csv", index=False)

In [75]:
preds_read = pd.read_csv("submission_test_ensemble1output3.csv")

In [76]:
preds_read

            id  Predicted
0       592380   0.481813
1       592381   0.190544
2       592382   0.322128
3       592383   0.401068
4       592384   0.276152
...        ...        ...
191854  784234   0.304653
191855  784235   0.158287
191856  784236   0.319470
191857  784237   0.269825
191858  784238   0.296281

[191859 rows x 2 columns]