In [29]:
import numpy as np
import pandas as pd

In [30]:
pred1 = pd.read_csv("sabera_submission_test.csv")
pred2 = pd.read_csv("submission_test_ada_boost2.csv")
pred3 = pd.read_csv("submission_test.csv")

In [31]:
preds = pd.DataFrame(0, index=np.arange(len(pred1)), columns=pred1.columns)

In [32]:
preds = (pred1 + pred2 + pred3) / 3

In [48]:
preds.to_csv("submission_test_ensemble1output.csv", index=False)

In [49]:
preds_read = pd.read_csv("submission_test_ensemble1output.csv")

In [50]:
preds_read

              id  Predicted
0       592380.0   0.541189
1       592381.0   0.344315
2       592382.0   0.376361
3       592383.0   0.452380
4       592384.0   0.352362
...          ...        ...
191854  784234.0   0.411383
191855  784235.0   0.364995
191856  784236.0   0.406023
191857  784237.0   0.403807
191858  784238.0   0.391671

[191859 rows x 2 columns]