In [51]:
import numpy as np
import pandas as pd

In [120]:
pred1 = pd.read_csv("submission_forest_simple_feature_engineering.csv")
pred2 = pd.read_csv("submission_test_processed_ensemble3_bs64_ne10.csv")
pred3 = pd.read_csv("submission_test_processed_ensemble2_bs64_ne10.csv")
pred4 = pd.read_csv("sabera_submission_epochs_more_layers_test_multi_4.csv")
pred5 = pd.read_csv("submission_test_processed_ensemble2_bs64_ne10_dupe.csv")
pred6 = pd.read_csv("submission_test_processed_ensemble5_bs64_ne10.csv")
pred7 = pd.read_csv("submission_test_processed_ensemble5_bs64_ne15.csv")

In [121]:
preds = pd.DataFrame(0, index=np.arange(len(pred1)), columns=pred1.columns)

In [122]:
preds['id'] = pred1['id']
preds['Predicted'] = (pred1['Predicted'] + pred2['Predicted'] + 2 * pred3['Predicted'] + pred4['Predicted'] + pred5['Predicted'] + pred6['Predicted'] + pred7['Predicted']) / 8

In [123]:
preds.to_csv("submission_test_ensemble1output8.csv", index=False)

In [124]:
preds_read = pd.read_csv("submission_test_ensemble1output8.csv")

In [125]:
preds_read

            id  Predicted
0       592380   0.548571
1       592381   0.249635
2       592382   0.342966
3       592383   0.436951
4       592384   0.358634
...        ...        ...
191854  784234   0.380039
191855  784235   0.189945
191856  784236   0.385175
191857  784237   0.330943
191858  784238   0.343348

[191859 rows x 2 columns]