In [33]:
import importlib
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
        
from datetime import datetime
from scipy.special import logsumexp

from catboost import Pool, cv, CatBoostClassifier, CatBoostRegressor
from sklearn.metrics import mean_squared_error, classification_report

In [34]:
train = pd.read_csv("caltech-cs155-2020/train.csv")
test = pd.read_csv("caltech-cs155-2020/test.csv")
df = pd.concat([train,test],sort=False)
print(df.shape)
print(df.columns)
df.tail()

(784239, 28)
Index(['id', 'last_price', 'mid', 'opened_position_qty ',
       'closed_position_qty', 'transacted_qty', 'd_open_interest', 'bid1',
       'bid2', 'bid3', 'bid4', 'bid5', 'ask1', 'ask2', 'ask3', 'ask4', 'ask5',
       'bid1vol', 'bid2vol', 'bid3vol', 'bid4vol', 'bid5vol', 'ask1vol',
       'ask2vol', 'ask3vol', 'ask4vol', 'ask5vol', 'y'],
      dtype='object')

,id,last_price,mid,opened_position_qty,closed_position_qty,transacted_qty,d_open_interest,bid1,bid2,bid3,...,bid2vol,bid3vol,bid4vol,bid5vol,ask1vol,ask2vol,ask3vol,ask4vol,ask5vol,y
191854,784234,5150.6,5150.8,NaN,NaN,0.0,0,5150.6,5150.4,5150.2,...,5,3,4,2,1,3,1,3,2,NaN
191855,784235,5122.6,5122.7,1.0,2.0,3.0,-1,5122.6,5122.4,5122.2,...,1,5,1,20,16,17,4,1,16,NaN
191856,784236,5192.8,5192.3,NaN,NaN,0.0,0,5192.0,5191.8,5191.2,...,2,1,1,1,1,2,1,2,1,NaN
191857,784237,5152.0,5151.9,4.0,2.0,6.0,2,5151.8,5151.6,5151.4,...,5,6,8,37,7,1,2,1,1,NaN
191858,784238,5200.0,5200.3,2.0,0.0,2.0,2,5200.0,5199.0,5198.8,...,5,1,2,1,1,1,4,1,3,NaN

In [35]:
bid_cols = ['bid1','bid2', 'bid3', 'bid4', 'bid5']
bid_vol_cols = ['bid1vol', 'bid2vol', 'bid3vol', 'bid4vol', 'bid5vol']
ask_cols = ['ask1', 'ask2', 'ask3', 'ask4', 'ask5',]
ask_vol_cols = ['ask1vol','ask2vol', 'ask3vol', 'ask4vol', 'ask5vol']

group_cols = {"bid_cols":bid_cols,"bid_vol_cols":bid_vol_cols,"ask_cols":ask_cols,"ask_vol_cols":ask_vol_cols}

In [36]:
for group in group_cols.keys():
    print(group)
    df[f"{group}_max"] = df[group_cols[group]].max(axis=1)
    df[f"{group}_min"] = df[group_cols[group]].min(axis=1)
    df[f"{group}_spread"] = df[f"{group}_max"].div(df[f"{group}_min"])
#     df[f"{group}_logsumexp"] = df[grou/_cols[group]].apply(logsumexp)
    
    df[f"{group}_max"] = df[group_cols[group]].max(axis=1)
    
df["last_price_div__mid"] = df["last_price"].div(df["mid"])

bid_cols
bid_vol_cols
ask_cols
ask_vol_cols

In [37]:
df["date"] = pd.to_datetime("1.1.2019")
df["date"] = df["date"] + pd.to_timedelta(df["id"]/2,unit="s") # 500 ms per row

df["date"].describe()

count                         784239
unique                        784239
top       2019-01-02 14:21:54.500000
freq                               1
first            2019-01-01 00:00:00
last             2019-01-05 12:55:19
Name: date, dtype: object

In [38]:
train = df.loc[~df.y.isna()]
print(f"train shape {train.shape[0]}")
test = df.loc[df.y.isna()]
print(f"test shape {test.shape[0]}")

train shape 592380
test shape 191859

In [39]:
train_no_nan = train.fillna(-100)
test_no_nan = test.fillna(-100)

In [40]:
# we don't know if the test set has a temporal split, so we'll just try a random split for now
X = train_no_nan.drop(["id","date","y"],axis=1)
y = train_no_nan["y"]

In [41]:
X

,last_price,mid,opened_position_qty,closed_position_qty,transacted_qty,d_open_interest,bid1,bid2,bid3,bid4,...,bid_vol_cols_max,bid_vol_cols_min,bid_vol_cols_spread,ask_cols_max,ask_cols_min,ask_cols_spread,ask_vol_cols_max,ask_vol_cols_min,ask_vol_cols_spread,last_price_div__mid
0,3842.4,3842.6,-100.0,-100.0,103.0,0,3842.4,3842.0,3841.8,3841.0,...,14,1,14.0,3844.0,3842.8,1.000312,10,1,10.0,0.999948
1,3842.8,3843.4,6.0,49.0,55.0,-43,3843.0,3842.8,3842.4,3842.0,...,11,1,11.0,3844.8,3843.8,1.000260,13,1,13.0,0.999844
2,3844.0,3844.3,7.0,77.0,84.0,-69,3843.8,3843.6,3843.2,3843.0,...,21,1,21.0,3845.8,3844.8,1.000260,16,1,16.0,0.999922
3,3843.8,3843.4,3.0,34.0,37.0,-30,3843.0,3842.8,3842.4,3842.0,...,13,2,6.5,3844.8,3843.8,1.000260,11,1,11.0,1.000104
4,3843.2,3843.1,3.0,38.0,41.0,-35,3842.8,3842.4,3842.0,3841.8,...,14,2,7.0,3845.0,3843.4,1.000416,15,1,15.0,1.000026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592375,4110.2,4110.3,1.0,1.0,2.0,1,4110.2,4110.0,4109.4,4109.2,...,3,1,3.0,4112.6,4110.4,1.000535,10,2,5.0,0.999976
592376,4109.4,4110.5,6.0,5.0,11.0,1,4109.2,4109.0,4108.6,4108.2,...,6,2,3.0,4113.0,4111.8,1.000292,9,3,3.0,0.999732
592377,4109.4,4110.5,-100.0,-100.0,0.0,0,4109.2,4109.0,4108.6,4108.2,...,6,2,3.0,4113.0,4111.8,1.000292,9,3,3.0,0.999732
592378,4109.4,4110.5,-100.0,-100.0,0.0,0,4109.2,4109.0,4108.6,4108.2,...,6,2,3.0,4113.0,4111.8,1.000292,9,3,3.0,0.999732
592379,4109.4,4110.5,-100.0,-100.0,0.0,0,4109.2,4109.0,4108.6,4108.2,...,6,2,3.0,4113.0,4111.8,1.000292,9,3,3.0,0.999732

In [42]:
X.shape, y.shape

((592380, 39), (592380,))

In [12]:
import torch
import torch.nn as nn
import second_neural_network
importlib.reload(second_neural_network)
model = second_neural_network.second_neural_network()
import pickle
filehandler = open("model_second_neural_network1", 'wb') 
pickle.dump(model, filehandler)

In [ ]:
import randomforestorder
importlib.reload(randomforestorder)
model = randomforestorder.RandomForestOrder()
import pickle
filehandler = open("model_randomforestorder1", 'wb') 
pickle.dump(model, filehandler)

In [43]:
import ensembleorder
importlib.reload(ensembleorder)
model = ensembleorder.EnsembleOrder()
import pickle
filehandler = open("model_ensembleorder1", 'wb') 
pickle.dump(model, filehandler)

In [44]:
import numpy as np
a = [1, 2, 3]
b = [10, 20, 30]
np.mean( np.array([ a, b ]), axis=0 )

array([ 5.5, 11. , 16.5])

In [61]:
model.model1.batch_s

2

In [58]:
model.model2.batch_s

2

In [62]:
import get_average_val_err

importlib.reload(get_average_val_err)

print(get_average_val_err.get_val_err(2, train_no_nan, model))

592380
Fold  1  of  2  test indices: [     0      1      2 ... 296187 296188 296189]
len(val_index_list):  296190
Train Epoch: 1  Loss: 0.3569
Train Epoch: 2  Loss: 1.0127
x train tensor:  tensor([[-1.2385, -1.2293,  0.6115,  ...,  0.6706,  1.1218, -1.3783],
        [-1.2201, -1.2262,  0.6115,  ...,  0.6706,  1.0504,  0.9144],
        [-1.2385, -1.2354,  0.6115,  ..., -0.5179,  2.8360, -0.4613],
        ...,
        [ 2.1973,  2.2311, -1.6074,  ...,  1.8591, -0.7351, -4.9084],
        [ 2.1973,  2.2311, -1.6074,  ...,  1.8591, -0.7351, -4.9084],
        [ 2.1973,  2.2311, -1.6074,  ...,  1.8591, -0.7351, -4.9084]])
y train tensor:  tensor([[0.],
        [0.],
        [0.],
        ...,
        [0.],
        [0.],
        [0.]])
Train Epoch: 1  Loss: 0.9993
Train Epoch: 2  Loss: 0.3287
(296190, 1)
(296190, 1)
validation error:  0.659294291685364
Fold  2  of  2  test indices: [296190 296191 296192 ... 592377 592378 592379]
len(val_index_list):  296190
Train Epoch: 1  Loss: 0.5497
Train Epoch: 2  Loss: 0.4989
x train tensor:  tensor([[-1.1682, -1.1636, -1.5134,  ..., -0.6056,  0.1326, -0.9933],
        [-1.1590, -1.1453,  0.7590,  ..., -0.6056,  0.5081, -2.9763],
        [-1.1316, -1.1247,  0.7805,  ..., -0.6056,  0.8837, -1.4886],
        ...,
        [ 2.3610,  2.3633,  0.6304,  ..., -0.6056, -0.4933, -0.4783],
        [ 2.3656,  2.3679,  0.6519,  ..., -0.6056,  3.3872, -0.4783],
        [ 2.3702,  2.3725,  0.6304,  ..., -0.6056,  3.3872, -0.4782]])
y train tensor:  tensor([[1.],
        [0.],
        [0.],
        ...,
        [1.],
        [1.],
        [1.]])
Train Epoch: 1  Loss: 0.5170
Train Epoch: 2  Loss: 0.6253
(296190, 1)
(296190, 1)
validation error:  0.6539295698020618
(0.6566119307437129, 7.195060221295296e-06, [0.659294291685364, 0.6539295698020618])

In [24]:
a = np.array([[1], [2], [3]])
a.shape
a.ravel()

array([1, 2, 3])

In [ ]:
test["Predicted"] = model.predict(test_no_nan.drop(["id","date","y"],axis=1))
test[["id","Predicted"]].to_csv("submission_test_second_neural_network2.csv",index=False)

In [ ]:
X_transformed

In [ ]:
transformer = FactorAnalysis(n_components=64, random_state=0)
X_transformed = transformer.fit_transform(X)
X_transformed.shape

In [ ]:
X_transformed

In [ ]:
X

In [ ]:
import numpy as np
array = np.array([4,2,7,1])
order = array.argsort()
ranks = order.argsort()

In [ ]:
ranks.reshape((-1,1))